[project]
name = "ai-dynamo-the-hard-way"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "ai-dynamo[sglang]>=0.8.1.post2",
]
